@tailwind base;
@tailwind components;
@tailwind utilities;
.hover\:underline-effect::before {
      @apply absolute left-0 bottom-1;
      content: "";
      height: 2px;
      width: 100%;
      background-color:rgb(50, 30, 224);
      transform: scale(0);
      transform-origin: center;
      transition: transform 0.5s linear;
    }
    
    .hover\:underline-effect:hover::before {
      transform: scale(1);
    }
   
    .shadow-navbar {
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    /* #nav2.hidden {
      display: none;
    } */
    
    #nav2.show {
      display: block ; 
      font-size: 16px;
    }
    

    .blurred {
      filter: blur(2px);
      transition: filter 0.3s ease;
    }
    /* head master ko photo effect ho muji */
    .background-overlay {
      transition: filter 0.5s ease-in-out; /* Smooth transition for blur */
    }
    .background-overlay.blur {
      filter: blur(5px); /* Apply blur effect */
    }
    .description-container {
      opacity: 0; /* Initially hidden */
      transition: opacity 0.5s ease-in-out; /* Smooth transition */
    }
    .description-container.show {
      opacity: 1; /* Show content */
    }




    .button {
      position: relative;
      padding: 16px 32px; /* Adjust padding as needed */
      font-weight: bold;
      color: black;
      background-color: transparent; /* Button's initial background color */
      border: 1px solid black; /* Border color */
      border-radius: 9999px; /* Fully rounded corners */
      overflow: hidden;
      transition: color 0.5s ease-in-out; /* Smooth text color transition */
    }
    
    .button-background {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgb(50, 30, 224);
      transform: scaleX(0);
      transform-origin:right;
      border-radius: 120px;
      transition: transform 0.5s ease-in-out;
      z-index: 0; /* Ensure background is below the text */
    }
    
    
    .button:hover .button-background {
      transform: scaleX(1);
      transform-origin:left;
    }

    .button:hover {
      color: white; /* Text color on hover */
    }
    
    .button-text {
      position: relative;
      z-index: 1; /* Ensure text is above the background */
    }
 